{% load staticfiles %}
<html>
<head>
	<title>{{title}} </title>

<style type="text/css">
    .container {
	float:left;
        width: 200px;
        clear: both;
    }
    .container input {
        width: 100%;
        clear: both;
    }

#transactions
{
position:relative;
float:left;
left:100px;
width:300px;
overflow:scroll;
height:500px;
}

#balance
{
position:relative;
left:100px;
width:300px;
}
    </style>
    
</head>
<body>
<!--/accounts/{id}/transfers -->
<div>
	{% block body_content %}
	
	{% endblock %}
</div>

</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</html>
