{% extends 'gringotts/base.html' %}

{% block body_content %}

<div class='container'>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<form method="POST" action="{% url 'gringotts:transfer' %}">
				{% csrf_token %}
				<label for="id">To: </label>
			    <input type="text" name="id" id="id" placeholder="User ID (Get User ID from Contacts)"><br>
				<input style="background-color:#3399FF;color:white;border-style:none;height:2em;" type="submit">
			</form>
		</div>
	</div>
	<div>
		{% if error %}
			<p>{{error}}</p>
		{% endif %}
	</div>

	<div>
		<a href="{% url 'gringotts:detailed-transfer' %}">Transfer History</a>
</div>

{% endblock %}